<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	  
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:beans.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!--  
	<servlet-mapping>
      <servlet-name>HelloWeb</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>
   -->
	<!--
	http://stackoverflow.com/questions/25853804/how-to-resolve-beandefinitionstoreexception-ioexception-parsing-xml-document-fr 
	 -->
	<context-param>
	<param-name>contextConfigLocation</param-name>
	
	<param-value>/WEB-INF/applicationContext.xml</param-value>
	  <!--  
	<param-value>/WEB-INF/HelloWeb-servlet.xml</param-value>
	-->
	</context-param>
	<listener>
	<!--
	ContextLoaderListener is provided by Spring, is responsible for building IoC container 
in Web container, which implements interface ServletContextListener. This interface is 
defined in Servlet API, providing callback of integration with Servlet lifecycle, such 
as contextInitialized method and contextDestroyed method. While in Web container, the 
process to build WebApplicationContext is done in the implementation of 
contextInitialized. 
	 -->
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	<welcome-file-list>
	<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
